*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
}
body{
    padding-left: 88px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5A5A5A;
}
.wrapper{
    padding: 30px 30px;
}
h1{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: white;
}
h2{
    font-size: 24px;
    line-height: 26px;
    color: #5A5A5A;
    margin: 0 0 20px;
}
.row{
    display: flex;
    margin-bottom: 30px;
    margin: 0 -15px 30px;
}
.col{
    padding: 0 15px;
    &-1{
        width: 100%;
    }
    &-filter{
        min-width: 645px;
    }
    &-map{
        width: 100%;
    }

}
.card{
    border-radius: 6px;
    background: white;
    box-shadow:0px 0px 9px rgba(0, 0, 0, 0.16);
    padding: 20px;
}