.transition{
    transition: all .3s ease 0s;
}
.mw295{
    max-width: 295px;
}
.align-top{
    align-items: flex-start !important;
}
.cursor{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.align-middle{
    vertical-align: middle !important;
}
.w80{
    width: 80px !important;
}
.nowrpap{
    white-space: nowrap;
}