.map-block{
    display: flex;
    flex-direction: column;
    &__map{
        height: 100%;
        padding-bottom: 30px;
    }
    &__bottom{
        min-height: 105px;
        input{
            width: 100%;
            min-height: 37px;
        }
        .address{
            margin-top: 15px;
            display: flex;
            align-items: center;
            color: #141E30;
            font-weight: 300;
        
            label{
                padding-right: 18px;
            }
        }
    }
    &__filter{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        >div{
            margin: 0 10px;
        }
    }
}
.styled-table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    thead{

        th{
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: white;
            text-align: left;
        
            vertical-align: middle;
            padding: 0 10px;
            background: #141E30;
            border: 1px solid #141E30;
        }
    }
    th,td{
        height: 60px;
    }
    td{
        border: 1px solid rgba(20, 30, 48, 0.23);
        color: #141E30;
        font-size: 13px;
        line-height: 16px;
        padding: 15px 10px 10px;
        vertical-align: top;
        position: relative;
        &.address{
       
            padding-right: 60px;
            min-width: 180px;
            .icons-link{
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: 10px;
                display: flex;
                align-items: center;
                top: 10px;
                @extend .transition;
                >*{
                    display: inline-block;
                    margin-left: 10px;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    @extend .transition;
                    &:hover{
                        opacity: 0.8;
                    }
                    svg{
                        fill:#2B4575;
                    }
                    *{
                     
                        width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
    

    tr:nth-child(even) td{
        background: #DDE9FF;
    }
    tr:hover td{
        background: #C0D5FC;
        .icons-link{
            opacity: 1;
            pointer-events: all;
        }
    }
}
.scale-font{
    td{
        font-size: 15px;
        line-height: 18px;
    }
}
.coefficient-list{
    font-size:0;
    margin-top: 34px;
    .item{
        font-size: 14px;
        line-height: 20px;
        color: #141E30;
        font-weight: 300;
        display: inline-flex;
        align-items: center;
        width: 16.666%;
        padding-right: 20px;
        margin-bottom: 26px;
        letter-spacing: 0.5px;
        &--title{
            font-weight: bold;
        }
    }
    svg{
        margin-right: 10px;
        *{
            fill:#141E30;
        }
    }
}
.table-settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
    .item{
        display: inline-flex;
        align-items: center;
        margin-left: 31px;
    }
    .styled-checkbox{
        padding-left: 25px;
    }
}
.analogs-title{
    display: flex;
    justify-content: flex-start;
    h2{
        font-size: 18px;
        line-height: 20px;
        min-width: 33.33%;
    }
}
.detail-list{
    display: flex;
    flex-wrap: wrap;
    color: #141E30;
    font-weight: 300;
    margin-top: 31px;
    padding-left: 47px;
    &__col{
        width: 33.333%;
        &:nth-child(1){
            width: 40%;
            padding-right: 7%;
        }
        &:nth-child(2){
            padding-left: 4%;
            width: 25%;
        }
        &:nth-child(3){
            width: 35%;
            padding-left: 8%;
        }
    }
    .item{
   
       display: flex;
       margin-bottom: 26px;
        label{
            width: 81%;
            padding-right: 30px;
        }
        div{
            font-weight: bold;
            white-space: nowrap;
            min-width: 95px;
        }
    }
}