<h1>ИСТОРИЯ ЗАПРОСОВ</h1>


<div class="row" >
    <div class="col col-1">
        <div class="card">
            <h2>Запросы</h2>
            <div *ngIf="!historyArray">
                Загрузка..
            </div>
            <table class="styled-table scale-font" *ngIf="historyArray">
                <thead>
                    <tr>
                        <th>Адрес</th>
                        <th>Подход</th>
                        <th>Тип ремонта</th>
                        <th>Вход</th>
                        <th>Линия застройки</th>
                        <th>Наличие витринных окон</th>
                        <th>Тип здания</th>
                        <th>Этаж</th>
                        <th>Общая площадь</th>
                        <th>Количество аналогов</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of historyArray" class="cursor" (click)="navigateToFoo(history)">
                        <td>{{history.fulladdress.length ? history.fulladdress : history.latitude+', '+history.longitude }}</td>
                        <td>{{history.approach}}</td>
                        <td>{{history.conditiontype}}</td>
                        <td>{{history.entrance}}</td>
                        <td>{{history.houselinetype}}</td>
                        <td>{{history.hasshopwindows ? 'есть':'нет'}}</td>
                        <td>{{history.isbuildingliving ? 'жилой':'нежилой'}}</td>
                        <td>{{history.floornumber}}</td>
                        <td>{{history.totalarea}}</td>
                        <td>{{history.countofanalogs}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        
