<h1>НОВЫЙ ЗАПРОС</h1>
<div class="row">
    <div class="col col-filter">
        <div class="card">
            <h2>Параметры объекта</h2>
            <form class="styled-form" [formGroup]="searchForm" novalidate>
               <div class="styled-form__row">
                   <label class="left-label label">Адрес</label>
                   <div class="control">
                       <autocomplete-places (onSelectAddress)="selectAddress($event)" [defaultValue]="historyParams ? historyParams.fulladdress: ''"></autocomplete-places>
                       <label 
                            *ngIf="(searchForm.get('latitude').hasError('required') && searchForm.get('latitude').touched) || (searchForm.get('longitude').hasError('required') && searchForm.get('longitude').touched)" 
                            class="error-field">Выберите адрес</label>
                   </div>
               </div>
               <div class="styled-form__row">
                    <label class="left-label label">Тип объекта</label>
                    <div class="control">
                        <ng-select 
                            [searchable]="false" 
                            [clearable]="false"
                            formControlName="specialitytype" 
                            >
                            <ng-option value="псн">ПСН</ng-option>
                        </ng-select>
                  
                    </div>
                </div>
                <hr>
                <ng-container  *ngFor="let floor of floorCount;let i = index">
              
                <div class="styled-form__row">
                    <label class="left-label label">Площадь (кв.м.)</label>
                    <div class="control">
                        <div>
                        <input 
                            type="text" 
                            formControlName="totalarea" 
                            [textMask]="numberDecimalSpaceMaskOptions"
                            class="styled-input w80"
                            />
                            <label 
                                *ngIf="searchForm.get('totalarea').hasError('required') && searchForm.get('totalarea').touched" 
                                class="error-field">Введите площадь</label>
                        </div>
                       
                        <div class="control  three-column-row__2">
                            <label class="label">Состояние отделки</label>
                            <div>
                                    <ng-select 
                                    class="mw295"
                                    [searchable]="false" 
                                    formControlName="conditiontype" 
                                    
                                    [clearable]="false"
                                    >
                                        <ng-option value="без отделки">Без отделки</ng-option>
                                        <ng-option value="косметический">Косметический</ng-option>
                                        <ng-option value="стандарт">Стандарт</ng-option>
                                        <ng-option value="люкс">Люкс</ng-option>
                                        <ng-option value="требует капитального ремонта">Требует капитального ремонта</ng-option>
                                </ng-select>
                           
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="styled-form__row">
                    <label class="left-label label">Этаж</label>
                    <div class="control">
                        <div class="Floor-btn" (click)="addFloor()" *ngIf="floorCount.length==i+1">Добавить этаж <span></span></div>
                        <div class="Floor-btn Floor-btn--remove" (click)="removeFloor(i)" *ngIf="floorCount.length!=i+1">Удалить этаж <span></span></div>
                        <input 
                            type="text"
                            formControlName="floornumber" 
                            [textMask]="numberSpaceMaskOptions"
                            class="styled-input w80"/>
                            <label 
                                *ngIf="searchForm.get('floornumber').hasError('required') && searchForm.get('floornumber').touched" 
                                class="error-field">Введите Этаж</label>
                    </div>
                </div>
                <hr>
            </ng-container>
                <div class="styled-form__row">
                    <div class="two-column-row">
                        <label class="left-label label align-top">Подход к оценке</label>
                        <div class="control">
                            <label class="styled-radio">
                                <input 
                                    type="radio"
                                    formControlName="approach" 
                                    name="approach" 
                                    value="comparative"
                                    >
                                Сравнительный
                                <span class="radiobtn"></span>
                            </label>
                            <label class="styled-radio">
                                <input 
                                    type="radio" 
                                    formControlName="approach"
                                    name="approach" 
                                    value="profitable">
                                Доходный
                                <span class="radiobtn"></span>
                            </label>
                            <label class="styled-radio">
                                <input 
                                    type="radio"
                                    formControlName="approach" 
                                    name="approach" 
                                    value="arenda">
                                Аренда
                                <span class="radiobtn"></span>
                            </label>
                        </div>
                    </div>
                    <div class="two-column-row">
                        <label class="left-label label align-top">Тип дома</label>
                        <div class="control">
                            <label class="styled-radio" >
                                <input 
                                    type="radio" 
                                    formControlName="isbuildingliving"
                                    name="isbuildingliving" 
                                    value="true">
                                Жилой
                                <span class="radiobtn"></span>
                            </label>
                            <label class="styled-radio">
                                <input 
                                    type="radio" 
                                    formControlName="isbuildingliving"
                                    name="isbuildingliving" 
                                    value="false">
                                Нежилой
                                <span class="radiobtn"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="styled-form__row">
                    <div class="two-column-row">
                        <label class="left-label label align-top">Витринные окна</label>
                        <div class="control">
                            <label class="styled-radio" >
                                <input 
                                    type="radio" 
                                    formControlName="hasshopwindows" 
                                    name="hasshopwindows" 
                                    value="true">
                                Есть
                                <span class="radiobtn"></span>
                            </label>
                            <label class="styled-radio">
                                <input 
                                    type="radio" 
                                    formControlName="hasshopwindows" 
                                    name="hasshopwindows" 
                                    value="false">
                                Нет
                                <span class="radiobtn"></span>
                            </label>
                        </div>
                    </div>
                    <div class="two-column-row">
                        <label class="left-label label align-top">Линия застройки</label>
                        <div class="control">
                            <label class="styled-radio" >
                                <input 
                                    type="radio" 
                                    formControlName="houselinetype" 
                                    name="houselinetype" 
                                    value="первая">
                                Первая
                                <span class="radiobtn"></span>
                            </label>
                            <label class="styled-radio">
                                <input 
                                    type="radio" 
                                    formControlName="houselinetype" 
                                    name="houselinetype" 
                                    value="внутриквартальная">
                                внутриквартальная
                                <span class="radiobtn"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="styled-form__row">
                    <div class="two-column-row">
                        <label class="left-label label align-top">Вход</label>
                        <div class="control">
                            <label class="styled-radio" >
                                <input 
                                    type="radio" 
                                    formControlName="entrance"
                                    name="entrance" 
                                    value="общий">
                                Отдельный
                                <span class="radiobtn"></span>
                            </label>
                            <label class="styled-radio">
                                <input 
                                    type="radio" 
                                    formControlName="entrance"
                                    name="entrance" 
                                    value="отдельный">
                                Общий
                                <span class="radiobtn"></span>
                            </label>
                        </div>
                    </div>
                    <div class="two-column-row" style="min-height:75px;">
                        <!-- <label class="left-label label align-top">Линия застройки</label> -->
                        <div class="control">
                                <label class="switch">
                                    <input type="checkbox" (change)="changeSpecialCorrection()" [checked]="specialCorrection">
                                    <span class="slider round"></span>
                                    Нетипичный объект
                                </label>
                                <ng-container *ngIf="specialCorrection">
                                    <ng5-slider 
                                        [(value)]="searchForm.controls['specialCorrectionKoef'].value" 
                                        (valueChange)="changeValueKoef($event)"
                                        [options]="options" ></ng5-slider>

                                </ng-container>
                             

                              
                        </div>
                    </div>
                </div>
                <div class="styled-form__row">
                    <label class="left-label label">Аналогов</label>
                    <div class="control">
                            <div class="analog-list">
                                <div 
                                    *ngFor="let analog of analogsCountList" 
                                    [class.active]="searchForm.controls['countOfAnalogs'].value==analog"
                                    (click)="selectAnalogsCount(analog)">
                                    {{analog}}
                                </div>
                            </div>
                    </div>
                </div>

                <div class="btn btn--orange" (click)="submit()">{{btnText.text}}</div>
            </form>
        </div>
    </div>
    <div class="col col-map">
        <div class="card map-block">
            <h2>Местоположение</h2>
            <div class="map-block__map">
                <map #gmap (onInitMap)="onInitMap()"></map>
            </div>
          
            <div class="map-block__bottom" >
                <div class="map-block__filter" *ngIf="currentObject">
                    <div >
                        <label class="styled-checkbox">
                            <input type="checkbox" [(ngModel)]="includedepr" (change)="changeDepr()"/>
                            <span class="checkmark"></span>
                            Включить аналоги ДЭПР
                        </label>
                    </div>
                    <div>
                        <label class="styled-checkbox">
                            <input type="checkbox"  [(ngModel)]="includenondepr" (change)="changeDepr()"/>
                            <span class="checkmark"></span>
                            Включить аналоги НЕ ДЭПР
                        </label>
                    </div>
                </div>
                <div *ngIf="currentPlaceObject" class="address">
                    <label>Адрес</label>
                    <input type="text" class="styled-input" disabled value="{{currentPlaceObject.address}}"/>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- <ng-container *ngIf="totalPrice">
цена 1 {{totalPrice.toFixed(0) | thousandsSpace}}<br>
</ng-container>
<ng-container *ngIf="totalPrice2">
цена 2 {{totalPrice2.toFixed(0) | thousandsSpace}}<br>
</ng-container>
<ng-container *ngIf="averagePrice">
средняя цена {{averagePrice.toFixed(0) | thousandsSpace}}<br>
</ng-container> -->
<div  *ngIf="ifNoOneSelectAnalogs">
    Не выбран ни один объект
</div>
<div class="row" *ngIf="currentObject && !ifNoOneSelectAnalogs">
    <div class="col col-1">
        <div class="card">
            <analogs-list [currentObject]="currentObject" [averagePrice]="averagePrice" [type]="searchForm.controls['approach'].value" (onChangeActiveAnalogs)="onChangeActiveAnalogs($event)"></analogs-list>
        </div>
    </div>
</div>

<div class="row" *ngIf="currentObject && searchForm.controls['approach'].value=='profitable' && !ifNoOneSelectAnalogs">
    <div class="col col-1">
        <div class="card">
            <h2 class="more-margin">Детали расчета</h2>
            <div class="detail-list">
                <div class="detail-list__col">
                    <div class="item">
                        <label>Арендная ставка объекта оценки (в состоянии "стандартный ремонт"), руб./кв.м в год</label>
                        <div>{{currentObject['арендная ставка объекта оценки (руб. кв.м в год)'].toFixed(0) | thousandsSpace}}</div>
                    </div>
                    <div class="item">
                        <label>Площадь, кв.м., объекта оценки</label>
                        <div>{{currentObject['площадь объекта оценки'].toFixed(2) | thousandsSpace }}</div>
                    </div>
    
                    <div class="item">
                        <label>Потенциальный валовой доход, руб.</label>
                        <div>{{currentObject['Потенциальный валовой_доход, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Потери от недозагрузки, %</label>
                        <div>{{currentObject['Коэффициент недозагрузки, %'].toFixed(2) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Потери от недозагрузки, руб.</label>
                        <div>{{currentObject['Потери от недозагрузки, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                </div>
                <div class="detail-list__col">
                    <div class="item">
                        <label>Действительный валовой доход, руб.</label>
                        <div>{{currentObject['Действительный валовой доход, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Операционные расходы, %</label>
                        <div>{{currentObject['Операционные расходы, %'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Операционные расходы, руб.</label>
                        <div>{{currentObject['Операционные расходы, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Чистый операционный доход, руб.</label>
                        <div>{{currentObject['Чистый операционный доход, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                </div>
                <div class="detail-list__col">
                    <div class="item">
                        <label>Ставка капитализации, %</label>
                        <div>{{currentObject['Ставка капитализации, %'].toFixed(2) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Стоимость объекта оценки без учета поправки на ремонт, руб.</label>
                        <div>{{currentObject['Стоимость объекта оценки без учета поправки на ремонт, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Поправка на ремонт, руб.</label>
                        <div>{{currentObject['поправка ремонт, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Стоимость объекта оценки доходный подход, руб.</label>
                        <div>{{currentObject['Стоимость объекта оценки доходный подход, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                    <div class="item">
                        <label>Стоимость объекта оценки, руб./кв.м</label>
                        <div>{{currentObject['Стоимость объекта оценки за метр, руб.'].toFixed(0) | thousandsSpace }}</div>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</div>